.game-description {
  margin-top: 10%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game-description h3 {
  color: #00243f;
  font-weight: 600;
}

.game-description h5 {
  margin-top: 5%;
  color: #00243f;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  text-shadow: 2px 2px #abb3bc;
}

.game-selection-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: fixed;
  margin-top: 3%;
  background-color: #556174;
  border: 1px solid #495464;
  box-shadow: 4px 4px 5px #122338;
}

.game-selection-header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
  color: #e8e8e8;
  text-shadow: 4px 3px 0px #264b77, 9px 8px 0px #00243f;
  margin-bottom: 3%;
}

.selection-button {
  width: 20vw;
  margin-bottom: 2%;
  font-weight: 500;
  text-shadow: 3px 3px #495464;
}

.selection-button:hover {
  border-bottom: 5px solid #122338;
}
