.score-banner {
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.score-banner-head {
  font-size: 1.3rem;
  text-decoration: underline;
}

.banner-scores {
  text-align: center;
  font-size: 1.6rem;
}
