.navigation-bar {
  width: 100vw;
  background: #22272c;
  min-height: 10vh;
  align-items: center;
  position: relative;
}

.home-link {
  color: #f4f4f2;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  font-weight: 800;
  margin-left: 5%;
}

.nav-link {
  color: #e8e8e8;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  font-weight: 800;
  position: relative;
  margin-right: 5%;
  left: 30%;
}

.nav-link:hover,
.home-link:hover {
  color: #8c9ea3;
  border-bottom: 5px solid #bbbbbe;
  text-decoration: none;
}

.active {
  border-bottom: 5px solid #bbbbbe;
}

@media screen and (max-width: 1160px) {
  .navigation-bar {
    flex-direction: column;
  }
  .nav-link {
    left: 5%;
  }
}
