body {
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8e8e8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.game {
  display: flex;
  margin-top: 5%;
  justify-content: center;
}
.gameBoard {
  margin-top: 3%;
  height: 30vh;
  width: 30vw;
  position: relative;
  float: right;
}

.square {
  width: 7vw;
  height: 9vh;
  margin: 0% 1% 0% 1%;
}
.row {
  height: 10vh;
}
.playerStatus {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  text-decoration: underline;
}
.playerMoves {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
}

.gameDescription {
  width: auto;
  margin-top: 10%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gameDescription h3 {
  color: #00243f;
  font-weight: 600;
}

.gameDescription h5 {
  margin-top: 5%;
  color: #00243f;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  text-shadow: 2px 2px #abb3bc;
}

.landingPageMenu {
  margin-top: 5%;
  width: 30vw;
  height: 40vh;
  background-color: #556174;
  border-radius: 5%;
  border: 1px solid #495464;
  text-align: center;
  box-shadow: 4px 4px 5px #122338;
}

.gameSelectionHeader {
  width: 20vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
  color: #e8e8e8;
  text-shadow: 4px 3px 0px #264b77, 9px 8px 0px #00243f;
}

.gameSelectionMenu {
  width: 20vw;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  flex-direction: column;
  text-align: center;
}

.selectionButton {
  width: 20vw;
  margin-top: 5%;
  margin-top: 5%;
  font-weight: 500;
  text-shadow: 3px 3px #495464;
}

.selectionButton:hover {
  border-bottom: 5px solid #122338;
}
/* #00243f

#22272c
#495464
#2a4158
#264b77

#3c5b74

#597387
#8c9ea3
#a3acb1
#bbbfca
#bbbbbe
#e8e8e8
#f4f4f2
 */
