body {
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8e8e8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.game {
  display: flex;
  margin-top: 5%;
  justify-content: center;
}
.game-board {
  margin-top: 3%;
  height: 30vh;
  width: 30vw;
  position: relative;
  float: right;
}

.square {
  width: 7vw;
  height: 9vh;
  margin: 0% 1% 0% 1%;
  font-size: 2.5em;
  font-weight: 500;
}

.row {
  height: 10vh;
}

.player-status {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  color: #22272c;
  text-decoration: underline;
}
.player-moves {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
}

.gameDescription {
  width: auto;
  margin-top: 10%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gameDescription h3 {
  color: #00243f;
  font-weight: 600;
}

.gameDescription h5 {
  margin-top: 5%;
  color: #00243f;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  text-shadow: 2px 2px #abb3bc;
}

.landingPageMenu {
  margin-top: 5%;
  width: 30vw;
  height: 40vh;
  background-color: #556174;
  border-radius: 5%;
  border: 1px solid #495464;
  text-align: center;
  box-shadow: 4px 4px 5px #122338;

.navigation-bar {
  width: 100vw;
  background: #22272c;
  min-height: 10vh;
  align-items: center;
  position: relative;
}

.home-link {
  color: #f4f4f2;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  font-weight: 800;
  margin-left: 5%;
}

.nav-link {
  color: #e8e8e8;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  font-weight: 800;
  position: relative;
  margin-right: 5%;
  left: 30%;
}

.nav-link:hover,
.home-link:hover {
  color: #8c9ea3;
  border-bottom: 5px solid #bbbbbe;
  text-decoration: none;
}

.active {
  border-bottom: 5px solid #bbbbbe;
}

@media screen and (max-width: 1160px) {
  .navigation-bar {
    flex-direction: column;
  }
  .nav-link {
    left: 5%;
  }
}

.gameSelectionHeader {
  width: 20vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
  color: #e8e8e8;
  text-shadow: 4px 3px 0px #264b77, 9px 8px 0px #00243f;
}

.gameSelectionMenu {
  width: 20vw;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  flex-direction: column;
  text-align: center;
}

.selectionButton {
  width: 20vw;
  margin-top: 5%;
  margin-top: 5%;
  font-weight: 500;
  text-shadow: 3px 3px #495464;
}

.selectionButton:hover {
  border-bottom: 5px solid #122338;
}

